
mat-card{
  margin-top: 20px;
}

mat-form-field,
textarea {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

input[type="file"] {
  visibility: hidden;
}

.pick-image {
  margin: 10px 0px;
}

.image-preview {
  height: 10rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}

.error-image{
  margin: 5px 5px 10px;
}
